@import url("https://fonts.googleapis.com/css?family=Dosis:300,400");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.disable-css-transitions {
    animation: none !important;
}

/* Universal Glow Animation */
@keyframes glowing {

    /* INFO: https://www.w3docs.com/snippets/css/how-to-create-flashing-glowing-button-using-animation-in-css3.html */
    0% {
        box-shadow: 0 0 20px rgb(255 77 0);
    }

    50% {
        box-shadow: 0 0 50px rgb(143 54 15);
    }

    100% {
        box-shadow: 0 0 20px rgb(255 77 0);
    }
}

header {
    justify-content: center;
    display: flex;
    position: relative;
    height: 15vh;
    width: 80%;
    margin: 10px auto 0;
    background-color: rgb(217 217 217);
    align-items: center;
    border: none;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add_card {
    min-width: 300px;
    max-width: 1fr;
    height: 300px;
    background-color: rgb(167 125 136);
    border-radius: 30px;
    border: none;
    box-shadow: 12px 17px 14px -12px rgba(0 0 0 / 41%);

    /* Glow animation added to the element */
    animation: glowing 1300ms infinite;
}

/* Hidden popup form */
#pop_up_box {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    background-color: rgb(11 17 17);
    border-radius: 20px;
    padding: 20px;
    font-family: "Zen Maru Gothic", Helvetica, Arial;
    height: auto;
    width: 50vw;
    transform: translate(-50%, -40%);
    left: 50%;
    top: 50%;

    /* Because we have so many components, it's best to make it a grid */
    display: grid;

    /* We have 11 rows and 6 columns in the grid */
    grid-template-rows: repeat(11, 30px);
    grid-template-columns: repeat(6, minmax(10px, 1fr));

    /* Space between each form child */
    gap: 10px;

    /* Glow animation added to the element */
    animation: glowing 1300ms infinite;
}

/* Encapsulation for different inputs in form */
fieldset {
    border: none;
}

/* The following are containers and inputs that occupy 
 * a row range and column range in the grid form
 */
#save {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    background: none;
    font-family: "Zen Maru Gothic", Arial, Georgia;
    font-size: 1.2em;
    color: #ffff;
    text-align: left;

    /* Glow animation added to the element */
    animation: glowing 1300ms infinite;
}

#str_drink_name {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 5;
}

#float_drink_price {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 5;
}

#time_purchase_date {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 5;
}

#img_drink_image {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-row-end: 4;
    grid-column-end: 7;
    z-index: 2;
    margin: auto;
    transform: scale(0.8);
}


/* Input boxes in popup form */
input {
    padding-left: 15px;
    text-align: left;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: "Zen Maru Gothic", Arial, Georgia;
    background-color: #ffff;
}


#flavor_container {
    background-color: #ffff;
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 7;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

#flavor_container fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#range_wrapper {
    width: 40%;
    max-height: 100%;
    font-size: 1.2em;
}

/* Wrapper for checkboxes in form */
#optional_wrapper {
    text-align: left;
    width: 40%;
    max-height: 100%;
    font-size: 1.2em;
}

/* Basic styling for all sliders */
#flavor_range {
    background-color: #ffff;
    z-index: 1;
}

/* Cancel button in form */
#cancel {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 2;
    grid-column-end: 7;
    background: none;
    font-family: "Zen Maru Gothic", Arial, Georgia;
    font-size: 1.2em;
    color: #ffff;
    text-align: right;

    /* Glow animation added to the element */
    animation: glowing 1300ms infinite;
}

#switch_photo_container {
    grid-row-start: 4;
    grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 7;
    border-radius: 10px;
}

#switch_photo_left_arrow,
#switch_photo_right_arrow {

    /* INFO: reference: https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */

    /* NOTE: implemented left and right arrows to change inage */
    cursor: pointer;
    position: absolute;
    width: auto;
    color: #502e2a;
    font-weight: bold;
    font-size: 40px;
    user-select: none;

    /* NOTE: inherented from parent #switch_photo_container */
    grid-row-start: 4;
    grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 7;
}

/* NOTE: spread out left and right arrows on two sides */
#switch_photo_left_arrow {
    left: 10%;
}

#switch_photo_right_arrow {
    right: 10%;
}

#str_purchase_location {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 5;
}

#type_info_container {
    background-color: #ffff;
    grid-row-start: 9;
    grid-column-start: 1;
    grid-row-end: 13;
    grid-column-end: 4;

    /* Flex with direction "column" tells DOM to 
     * structure all child elements vertically
     */
    display: flex;
    flex-direction: column;

    /* Even spacing between child elements */
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
}

#str_notes {
    background-color: #ffff;
    grid-row-start: 9;
    grid-column-start: 4;
    grid-row-end: 13;
    grid-column-end: 7;
    border-radius: 10px;
    font-family: "Zen Maru Gothic", Arial, Georgia;
    padding: 15px;
    font-size: 1.2em;
}




/* Holds the help and filter options above gallery */
#functionality {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    height: 3rem;
    text-align: center;
    align-items: center;
}
 
#functionality #select_file, #help, #filter, #change_color {
    display: flex;
    position: relative;
    background-color: rgb(43 44 54);
    color: white;
    width: 8rem;
    height: 95%;
    text-align: center;
    align-items: center;
    font-family: "Zen Maru Gothic", Arial;
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 10px;

    /* Glow animation added to the element */
    animation: glowing 1300ms infinite;
}


/* Help Dropdown Button */
#help {
    display: flex;
    align-items: center;
    width: 8rem;
    min-width: 4rem;
    text-align: center;
}


.dropdown {
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-block;
    text-align: center;

    /* Removes the arrow icon */
    appearance: none;
}

#functionality h1 {
    color: black;
    font-family: Arial, Georgia;
    font-size: 2.3em;
    font-weight: 600;
}


/* The list that stores all the cards
 * Three columns but its rows should grow dynamically with number of cards added
 */
#gallery {
    width: 80%;
    margin: 5vh auto;
    display: grid;

    /* Autofill tells the DOM to move content to the next
     * row if it overfills the current row as many times as needed
     *
     * Minmax property will determine if items need
     * to stretch to consume any horizontal space up to 1fr
     */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-content: center;
}

/* Next & previous buttons */
.prev_help,
.next_help {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 50px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.prev_help {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next_help {
    right: 0;
    border-radius: 3px 0 0 3px;

    /* Glow animation added to the element */
    animation: glowing 1300ms infinite;
}

/* On hover, add a black background color with a little bit see-through */
.prev_help:hover,
.next_help:hover {
    background-color: rgba(0 0 0 80%);
}

#str_guidance_text {
    min-width: 300px;
    bottom: 10px;
    min-height: 30vh;
    background-color: rgb(147 147 147);
    opacity: 0.67;
    border-radius: 10px;
    border: none;
    justify-content: center;
    display: flex;
    position: relative;
    height: 15vh;
    width: 80%;
    margin: 10px auto 0;
    z-index: 999;
}

#main_page {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Zen Maru Gothic", Arial;
    color: rgb(236 232 232);
    width: 10vw;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in;
    align-items: left;

    /* Glow animation added to the element */
    animation: glowing 1300ms infinite;
}

/* Hoevering over link will underline in a smooth fashion */
#main_page:hover {
    border-bottom: 1px solid rgb(236 232 232);
    transition: all 0.2s ease-in;
}

#main_page.fixed {
    position: fixed;
    left: 0;
    top: 85vh;
    z-index: 999;
}
