/* Background Color Schemes 
 *
 * Pink-Lavendar: #BF8162
 * Black: #FFFFFF
 * Chocolate: #3E1404
 * Cream: #E3E2C5
 * 
 */

* {

    /* TODO: Yuang */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TODO: remove pseudoCard selector after custom elements are made 
 * TODO: The custom card element should be same size and color as the add button
 */
#add_card, 
#pseudoCard {
    min-width: 300px;
    max-width: 1fr;
    height: 300px;
    background-color: #bf8162;
    border-radius: 10px;
    border: none;
}

/* TODO: Smoothly change opacity when hovering over addCard button */
#addCard:hover {
    opacity: 0.8;
    transition: all 0.2s ease-in;
}


/* Hidden popup form */
#pop_up_box {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    font-family: "Zen Maru Gothic", Helvetica, Arial; 
    height: auto;
    width: 50vw;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    /* Because we have so many components, it's best to make it a grid */
    display: grid;

    /* We have 11 rows and 6 columns in the grid */
    grid-template-rows: repeat(11, 40px);
    grid-template-columns: repeat(6, minmax(10px, 1fr));

    /* Space between each form child */
    gap: 10px;
}

/* Encapsulation for different inputs in form */
fieldset {
    border: none;
}

/* The following are containers and inputs that occupy 
 * a row range and column range in the grid form
 */
#save {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    background: none;
    font-family: "Zen Maru Gothic", Arial, Georgia;
    font-size: 1.2em;
    color: #ffff;
    text-align: left;
}

/* TOOD: smoothly change opacity when hoverning */
#save:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in;
}

#str_drink_name {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 5;
}

#int_drink_price {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 5;
}

#time_purchase_date {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 5;
}

#img_drink_image {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-row-end: 4;
    grid-column-end: 7;
    z-index: 2;
    margin: auto;
    transform: scale(0.9);
}

/* Gets rid of default styling for text boxes */
input[type="text"] {

    /* How much negative space to the left of input inside textbox */
    padding-left: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: "Zen Maru Gothic", Arial, Georgia;
    background-color: #ffff;
}

#flavor_container {
    background-color: #ffff;
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 7;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

#flavor_container fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#range_wrapper {
    width: 40%;
    max-height: 100%;
    font-size: 1.2em;
}

#optional_wrapper {
    text-align: left;
    width: 40%;
    max-height: 100%;
    font-size: 1.2em;
}

/* Basic styling for all sliders */
#flavor_range {
    background-color: #ffff;
    z-index: 1;
}

/* Cancel button in form */
#cancel {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 2;
    grid-column-end: 7;
    background: none;
    font-family: "Zen Maru Gothic", Arial, Georgia;
    font-size: 1.2em;
    color: #ffff;
    text-align: right;
}

#cancel:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in;
}

#switch_photo_container {
    grid-row-start: 4;
    grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 7;
    border-radius: 10px;
}

#switch_photo_left_arrow,
#switch_photo_right_arrow {

    /* INFO: reference: https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */
    
    /* NOTE: implemented left and right arrows to change inage */
    cursor: pointer;
    position: absolute;
    width: auto;
    color: #502e2a;
    font-weight: bold;
    font-size: 40px;
    user-select: none;

    /* NOTE: inherented from parent #switch_photo_container */
    grid-row-start: 4;
    grid-column-start: 5;
    grid-row-end: 5;
    grid-column-end: 7;
}

/* NOTE: spread out left and right arrows on two sides */
#switch_photo_left_arrow {
    left: 10%;
}

#switch_photo_right_arrow {
    right: 10%;
}

#switch_photo_left_arrow:hover, 
#switch_photo_right_arrow:hover {
    opacity: 0.5;
}

#str_purchase_location {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 5;
}

#type_info_container {
    background-color: #ffff;
    grid-row-start: 9;
    grid-column-start: 1;
    grid-row-end: 13;
    grid-column-end: 4;

    /* Flex with direction "column" tells DOM to 
     * structure all child elements vrtically
     */
    display: flex;
    flex-direction: column;

    /* Even spacing between child elements */
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
}

#str_notes {
    background-color: #ffff;
    grid-row-start: 9;
    grid-column-start: 4;
    grid-row-end: 13;
    grid-column-end: 7;
    border-radius: 10px;
    font-family: "Zen Maru Gothic", Arial, Georgia;
    padding: 15px;
    font-size: 1.2em;

    /* TOOD: If user types in more characters than box can fit
     * add scrolling to allow for more input 
     */
}

/* Holds the help and filter options above gallery */
#functionality {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 80%;

    /* TODO: Yuang */
    height: 3rem;
    text-align: center;
    align-items: center;
    table-layout: fixed;
}

#functionality #help, 
#filter, #changeColor {
    background-color: black;
    color: white;
    border-radius: 5px;
    -webkit-text-stroke: 0.8px gold;
    width: 10%;
    height: 95%;
    text-align: center;
}

#functionality h1 {
    font-family: "Playfair Display", Arial, Georgia;
    font-size: 2em;
    font-weight: 100;
}

/* #functionality #help:hover, #filter:hover, #changeColor:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in;
} */

/* TODO add hover effect to help, filter, and changeColor */
#functionality a {
    font-family: "Playfair Display", Arial, Georgia;
    font-size: 100%;
    font-weight: 100;
    background-color: grey;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-text-stroke: 0.8px gold;
}

/* The list that stores all the cards
 * Three columns but its rows should grow dynamically with number of cards added
 * This was actually very simple. Just had to do some exploration online
 */
#gallery {
    width: 80%;
    margin: 10vh auto;
    display: grid;

    /* Autofill tells the DOM to move content to the next
     * row if it overfills the current row as many times as needed
     *
     * Minmax property will determine if items need
     * to stretch to consume any horizontal space up to 1fr
     */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-content: center;
}
